/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "bold";
  src: url("/fonts/Archivo-Bold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/fonts/Archivo-Regular.ttf");
}
@font-face {
  font-family: "semi-bold";
  src: url("/fonts/Archivo-SemiBold.ttf");
}
@font-face {
  font-family: "narrow";
  src: url("/fonts/ArchivoNarrow-SemiBold.ttf");
}
header {
  height: 10vh;
  background-color: #f3fafe54;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
header .log {
  width: 200px;
  height: 90px;
}
header .log img {
  width: 100%;
  height: 100%;
}
header .nav {
  display: none;
}

.banner {
  height: 90vh;
  background-image: url(/img/map.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}
.banner .info {
  padding: 20px;
}
.banner .info h1 {
  font-size: 30px;
  font-family: "narrow";
  padding-bottom: 30px;
  text-align: center;
}
.banner .info h1 strong {
  color: #F59727;
}
.banner .info p {
  font-size: 16px;
  font-family: "regular";
  width: 50%;
  padding-bottom: 30px;
}
.banner .info button {
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-family: "regular";
  outline: none;
  border: none;
  border-radius: 0 60px 60px 60px;
}
.banner .image {
  position: absolute;
  top: 370px;
  right: 0;
  width: 160px;
  z-index: 1;
}
.banner .image img {
  width: 100%;
  height: 100%;
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
  .banner {
    height: 60vh;
  }
}
@media screen and (min-width: 568px) {
  header {
    padding-bottom: 5px;
  }
  header .log {
    width: 170px;
    height: 60px;
  }
  header .nav {
    padding-left: 190px;
  }
  header .nav li {
    padding: 12px;
  }
  header .nav li a {
    font-size: 22px;
  }

  .banner {
    display: flex;
  }
  .banner .info {
    padding: 20px 0 0 40px;
    width: 70vw;
  }
  .banner .info h1 {
    text-align: left;
    width: 80%;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .banner .info p {
    font-size: 16px;
    width: 75%;
    padding-bottom: 10px;
  }
  .banner .info button {
    height: 40px;
    width: 200px;
    font-size: 16px;
  }
  .banner .image {
    position: absolute;
    width: 65%;
    top: -8px;
    right: -100px;
  }
}
@media screen and (min-width: 667px) {
  header .log {
    width: 190px;
    height: 70px;
  }

  .banner .info h1 {
    padding-bottom: 20px;
  }
  .banner .info p {
    font-size: 18px;
    width: 75%;
    padding-bottom: 20px;
  }
  .banner .info button {
    height: 40px;
    width: 200px;
    font-size: 16px;
  }
  .banner .image {
    width: 55%;
    top: -28px;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 10vh;
    background-color: #f3fafe54;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  header .log {
    width: 200px;
    height: 90px;
  }
  header .log img {
    width: 100%;
    height: 100%;
  }
  header .nav {
    display: none;
  }

  .banner {
    height: 80vh;
  }
  .banner .info {
    padding: 20px;
    width: 100vw;
  }
  .banner .info h1 {
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  .banner .info p {
    font-size: 30px;
    width: 50%;
    padding-bottom: 30px;
    width: 70%;
  }
  .banner .info button {
    height: 70px;
    width: 240px;
    font-size: 30px;
  }
  .banner .image {
    position: absolute;
    top: 400px;
    right: -10;
    width: 380px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
  }
  header .log {
    width: 270px;
    height: 90px;
  }

  .banner {
    display: flex;
    height: 70vh;
  }
  .banner .info {
    padding: 30px 0 0 30px;
    width: 70vw;
  }
  .banner .info h1 {
    width: 80%;
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 20px;
    text-align: left;
  }
  .banner .info p {
    font-size: 27px;
    width: 75%;
    padding-bottom: 20px;
  }
  .banner .info button {
    height: 80px;
    width: 250px;
    font-size: 30px;
  }
  .banner .image {
    position: absolute;
    width: 60%;
    height: auto;
    top: -80px;
    right: -160px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 10vh;
    display: flex;
    align-items: center;
  }
  header .log {
    width: 270px;
    height: 90px;
  }
  header .log img {
    width: 100%;
    height: 100%;
  }
  header .nav {
    padding-left: 30px;
    display: list-item;
    display: flex;
    justify-content: center;
  }
  header .nav li {
    padding: 12px;
  }
  header .nav li a {
    font-size: 22px;
    color: #000;
    font-family: "regular";
    text-transform: capitalize;
  }

  .banner {
    display: flex;
    height: 90vh;
  }
  .banner .info {
    padding: 60px 0 0 80px;
    width: 70vw;
  }
  .banner .info h1 {
    width: 80%;
    font-size: 45px;
    font-family: "narrow";
    padding-bottom: 40px;
  }
  .banner .info p {
    font-size: 27px;
    font-family: "regular";
    width: 75%;
    padding-bottom: 40px;
  }
  .banner .info button {
    height: 80px;
    width: 250px;
    font-size: 30px;
  }
  .banner .image {
    position: absolute;
    width: 58.5%;
    top: -80px;
    right: -160px;
    z-index: 1;
  }
}
.howwehelp {
  text-align: center;
  padding: 20px;
}
.howwehelp .how {
  color: #F59727;
  font-family: "regular";
  font-size: 25px;
}
.howwehelp h2 {
  font-size: 40px;
  font-family: "narrow";
}
.howwehelp .inner {
  border-radius: 0 45px 45px 45px;
  position: relative;
  height: 90vh;
}
.howwehelp .inner .image img {
  width: 100%;
  height: 100%;
}
.howwehelp .inner .info {
  padding: 70px 20px 20px 20px;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 100px;
  width: 100%;
  box-shadow: 0px 8px 10px gray, -10px 8px 15px rgba(0, 0, 0, 0.069), 10px 8px 15px gray;
}
.howwehelp .inner .info h3 {
  font-family: "narrow";
  font-size: 28px;
}
.howwehelp .inner .info p {
  font-family: "regular";
  font-size: 18px;
  padding-bottom: 10px;
}
.howwehelp .inner .info button {
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-family: "regular";
  outline: none;
  border: none;
  border-radius: 0 60px 60px 60px;
  display: flex;
  align-items: center;
  width: 160px;
  height: 45px;
  padding-left: 10px;
  font-size: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .howwehelp .inner {
    height: 70vh;
  }
  .howwehelp .inner .info h3 {
    padding: 20px 0 20px 0;
  }
}
@media screen and (min-width: 414px) {
  .howwehelp .inner .info h3 {
    padding: 40px 0 20px 0;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) {
  .howwehelp .inner {
    height: 65vh;
  }
  .howwehelp .inner .image img {
    width: 100%;
    height: 100%;
  }
  .howwehelp .inner .info {
    padding: 70px 20px 20px 20px;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 100px;
    width: 100%;
    box-shadow: 0px 8px 10px gray, -10px 8px 15px rgba(0, 0, 0, 0.069), 10px 8px 15px gray;
  }
  .howwehelp .inner .info h3 {
    font-family: "narrow";
    font-size: 28px;
  }
  .howwehelp .inner .info p {
    font-family: "regular";
    font-size: 18px;
    padding-bottom: 10px;
  }
  .howwehelp .inner .info button {
    color: #fff;
    background-color: #000;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: "regular";
    outline: none;
    border: none;
    border-radius: 0 60px 60px 60px;
    display: flex;
    align-items: center;
    width: 160px;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 568px) {
  .howwehelp .how {
    font-size: 30px;
  }
  .howwehelp h2 {
    font-size: 45px;
    padding: 10px;
  }
  .howwehelp .inner {
    position: relative;
    height: 150vh;
    width: 70%;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .howwehelp .inner .image {
    height: 160px;
  }
  .howwehelp .inner .info {
    top: 70px;
    height: 400px;
  }
  .howwehelp .inner .info h3 {
    font-size: 30px;
  }
  .howwehelp .inner .info p {
    font-size: 20x;
    padding: 10px 20px 20px 20px;
  }
  .howwehelp .inner .info button {
    width: 200px;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .howwehelp {
    padding: 0 50px 0 50px;
  }
  .howwehelp .how {
    font-size: 30px;
  }
  .howwehelp h2 {
    font-size: 45px;
    padding: 10px;
  }
  .howwehelp .inner {
    position: relative;
    height: 90vh;
  }
  .howwehelp .inner .image {
    height: 250px;
  }
  .howwehelp .inner .info {
    top: 200px;
    height: 500px;
  }
  .howwehelp .inner .info h3 {
    font-size: 35px;
  }
  .howwehelp .inner .info p {
    font-size: 25px;
    padding: 10px 20px 40px 20px;
  }
  .howwehelp .inner .info button {
    width: 280px;
    height: 80px;
    padding-left: 30px;
    font-size: 25px;
  }
  .howwehelp .inner .info button img {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .howwehelp {
    padding: 0 50px 0 50px;
  }
  .howwehelp .how {
    font-size: 30px;
    width: 100%;
  }
  .howwehelp h2 {
    font-size: 45px;
    padding: 10px;
  }
  .howwehelp .main {
    display: flex;
    justify-content: center;
  }
  .howwehelp .main .inner {
    position: relative;
    height: 90vh;
    width: 33%;
    margin: 0 30px 0 30px;
  }
  .howwehelp .main .inner .image {
    height: 200px;
    width: 100%;
    border-radius: img;
    border-radius-object-fit: cover;
    border-radius-border-radius: 0px 60px 60px 60px;
  }
  .howwehelp .main .inner .info {
    top: 120px;
    height: 500px;
  }
  .howwehelp .main .inner .info h3 {
    font-size: 30px;
  }
  .howwehelp .main .inner .info p {
    font-size: 20px;
    padding: 0;
    padding-bottom: 10px;
  }
  .howwehelp .main .inner .info button {
    width: 180px;
    height: 43px;
    padding-left: 10px;
    font-size: 18px;
  }
  .howwehelp .main .inner .info button img {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .howwehelp {
    padding: 0 50px 0 50px;
  }
  .howwehelp .how {
    font-size: 30px;
    width: 100%;
  }
  .howwehelp h2 {
    font-size: 45px;
    padding: 10px;
  }
  .howwehelp .main {
    display: flex;
    justify-content: center;
  }
  .howwehelp .main .inner {
    position: relative;
    height: 80vh;
    width: 30%;
    margin: 0 30px 0 30px;
  }
  .howwehelp .main .inner .image {
    height: 200px;
    width: 100%;
    border-radius: img;
    border-radius-object-fit: cover;
    border-radius-border-radius: 0px 60px 60px 60px;
  }
  .howwehelp .main .inner .info {
    top: 170px;
    height: 400px;
    width: 100%;
    text-align: center;
  }
  .howwehelp .main .inner .info h3 {
    font-size: 30px;
    padding: 0;
  }
  .howwehelp .main .inner .info p {
    font-size: 20px;
    padding-bottom: 10px;
    padding: 20px;
  }
  .howwehelp .main .inner .info button {
    width: 180px;
    height: 43px;
    padding-left: 10px;
    font-size: 18px;
  }
  .howwehelp .main .inner .info button img {
    margin-right: 10px;
  }
}
.about {
  text-align: center;
}
.about #about {
  color: #F59727;
  font-family: "regular";
  font-size: 20px;
  padding: 10px 0 10px 0;
}
.about h2 {
  font-family: "narrow";
  font-size: 30px;
  padding-bottom: 10px;
}
.about p {
  font-family: "regular";
  font-size: 16px;
}
.about .inner .image img {
  width: 100%;
  height: 100%;
}
.about .inner .info {
  padding: 0 20px 0 20px;
}
.about .inner .info h3 {
  font-family: "narrow";
  font-size: 35px;
}
.about .inner .info p {
  font-family: "regular";
  font-size: 18px;
  padding: 10px 0 10px 0;
}
.about .inner .info a {
  color: #F59727;
  text-decoration: underline;
  font-size: 20px;
  font-family: "regular";
  padding-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .inner .image {
    width: 40%;
  }
  .inner .info {
    padding: 0;
    width: 55%;
    text-align: left;
  }
  .inner .info h3 {
    font-family: "narrow";
    font-size: 34px;
  }
  .inner .info p {
    font-family: "regular";
    font-size: 18px;
    padding: 10px 0 10px 0;
  }
  .inner .info a {
    color: #F59727;
    text-decoration: underline;
    font-size: 20px;
    font-family: "regular";
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .inner .image {
    width: 45%;
  }
  .inner .info {
    padding: 0;
    width: 44%;
    text-align: left;
  }
  .inner .info h3 {
    font-size: 35px;
    padding-top: 90px;
  }
  .inner .info p {
    font-family: "regular";
    font-size: 25px;
    padding-right: 50px !important;
  }
  .inner .info a {
    font-size: 20px;
    font-family: "regular";
    padding-bottom: 10px;
  }
}
.events {
  text-align: center;
}
.events #about {
  color: #F59727;
  font-family: "regular";
  font-size: 20px;
  padding: 10px 0 10px 0;
}
.events h2 {
  font-family: "narrow";
  font-size: 30px;
  padding-bottom: 10px;
}
.events p {
  font-family: "regular";
  font-size: 16px;
  padding: 0 15px 15px 15px;
}
.events .camp {
  background-image: url(/img/h2-banner01.png);
  background-position: center;
  background-size: cover;
  height: 450px;
  margin-top: 20px;
}
.events .camp .slideshow {
  padding: 20px;
}
.events .camp .slideshow h4 {
  color: #fff;
  font-size: 25px;
  font-family: "narrow";
}
.events .camp .event {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  height: 250px;
  border-radius: 0 60px;
  padding: 20px;
}
.events .camp .event p {
  width: 50%;
}
.events .camp .event p span {
  color: #F59727;
  padding-bottom: 20px;
}
.events .camp .event #cont {
  width: 100%;
  padding-top: 20px;
}

.volunteer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  background-image: url(/img/ppl.png);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 230px;
  flex-wrap: wrap;
}
.volunteer h2 {
  font-family: "narrow";
  font-size: 25px;
  width: 100%;
  text-align: center;
  padding-top: 45px;
}
.volunteer button {
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-family: "regular";
  outline: none;
  border: none;
  border-radius: 0 60px 60px 60px;
  width: 170px;
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.volunteer button img {
  margin-right: 10px;
}

@media screen and (min-width: 1024px) {
  .events #about {
    font-size: 20px;
    padding: 10px 0 10px 0;
  }
  .events h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .events p {
    font-size: 16px;
    padding: 0 15px 0 15px;
  }
  .events .camp {
    display: flex;
    height: 400px;
    padding-top: 60px;
  }
  .events .camp .slideshow {
    width: 50%;
  }
  .events .camp .slideshow h4 {
    font-size: 25px;
    width: 70%;
    padding-left: 40px;
  }
  .events .camp .event {
    width: 50%;
    height: 300px;
    padding: 20px;
    margin-top: 150px;
    box-shadow: 0 2px 8px #000;
  }
  .events .camp .event p {
    width: 50%;
    font-size: 20px;
  }
  .events .camp .event p span {
    padding-bottom: 20px;
  }
  .events .camp .event #cont {
    width: 100%;
    padding-top: 20px;
  }

  .volunteer {
    background-size: cover;
    height: 540px;
  }
  .volunteer h2 {
    font-size: 35px;
    padding-top: 130px;
  }
  .volunteer button {
    color: #fff;
    background-color: #000;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: "regular";
    outline: none;
    border: none;
    border-radius: 0 60px 60px 60px;
    width: 300px;
    height: 90px;
    font-size: 20px;
    margin-bottom: 90px;
  }
}
.homeless {
  text-align: center;
}
.homeless h2 {
  font-family: "narrow";
  font-size: 30px;
  padding-bottom: 10px;
}
.homeless p {
  font-family: "regular";
  font-size: 16px;
  padding: 0 15px 15px 15px;
}
.homeless .containerr {
  height: 500px;
  background-image: url(/img/blog07.png);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0 60px;
  margin: 0 20px 0 20px;
}
.homeless .containerr h6 {
  color: white;
  font-family: "narrow";
  font-size: 25px;
  z-index: 10;
}
.homeless .containerr p {
  color: #fff;
  padding-top: 20px;
}
.homeless .containerr p strong {
  font-size: 30px;
}
.homeless .containerr h3 {
  color: #fff;
  font-size: 25px;
  font-family: "narrow";
  padding-bottom: 10px;
}
.homeless .containerr button {
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-family: "regular";
  outline: none;
  border: none;
  border-radius: 0 60px 60px 60px;
  width: 250px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #F59727 !important;
}
.homeless .containerr .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0 60px;
}

@media screen and (min-width: 768px) {
  .homeless h2 {
    padding: 20px;
  }
  .homeless .containerr {
    height: 370px;
  }
  .homeless .containerr h6 {
    padding: 20px;
  }
  .homeless .containerr p {
    color: #fff;
    padding-top: 20px;
  }
  .homeless .containerr p strong {
    font-size: 30px;
  }
  .homeless .containerr h3 {
    color: #fff;
    font-size: 25px;
    font-family: "narrow";
    padding-bottom: 10px;
  }
  .homeless .containerr button {
    color: #fff;
    background-color: #000;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: "regular";
    outline: none;
    border: none;
    border-radius: 0 60px 60px 60px;
    width: 250px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .homeless .containerr .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}
@media screen and (min-width: 1024px) {
  .homeless .containerr h6 p h3 {
    margin-left: 263px;
    text-align: left;
    padding-left: 0;
    width: 70%;
  }
  .homeless .containerr button {
    margin-left: 263px;
  }
}
@media screen and (min-width: 1200px) {
  .homeless {
    padding-bottom: 90px;
  }
  .homeless .containerr .kk {
    margin-left: 263px;
    text-align: left;
    padding-left: 0;
    width: 50%;
    margin-left: auto;
    margin-right: 90px;
  }
  .homeless .containerr button {
    margin-left: auto;
  }
}
footer {
  text-align: center;
}
footer .inner {
  padding: 20px;
}
footer .inner p {
  font-family: "regular";
  font-size: 25px;
  display: flex;
  align-items: center;
}
footer .inner p img {
  width: 60px;
  height: 60px;
}
footer .inner .tk {
  padding-left: 42px;
}
footer .inner #location {
  padding: 30px 0 30px 0;
}
footer .inner2 {
  padding-top: 20px;
}
footer .inner2 p {
  font-family: "regular";
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .inner2 input {
  width: 80%;
  height: 60px;
  background-color: #000;
  outline: none;
  border: none;
  border-radius: 0 60px 60px 60px;
  margin: 20px 0 20px 0;
}
footer .inner2 button {
  width: 80%;
  height: 60px;
  background-color: #F59727;
  outline: none;
  border: none;
  border-radius: 0 60px 60px 60px;
  margin: 15px 0 15px 0;
}
footer .sign {
  background-color: #000;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}
footer .sign strong {
  color: #F59727;
}

@media screen and (min-width: 1024px) {
  footer {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F5F5F5;
  }
  footer .logo {
    width: 30%;
    height: 20%;
  }
  footer .logo img {
    width: 100%;
    height: 100%;
  }
  footer .inner {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
  }
  footer .inner2 {
    width: 30%;
  }
  footer .inner2 input {
    margin-left: 50px;
  }
  footer .inner2 button {
    margin-left: 50px;
  }
  footer .sign {
    width: 100%;
  }
}
.donation-main {
  padding: 0 20px 0 20px;
}
.donation-main .image {
  width: 100%;
}
.donation-main .image img {
  width: 100%;
  height: 100%;
}
.donation-main .donation {
  width: 100%;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: 2px 8px 15px grey;
  border-radius: 0 60px 0 0;
}
.donation-main .donation h2 {
  font-family: "narrow";
  font-size: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  width: 80%;
  margin-bottom: 10px;
}
.donation-main .donation #amount {
  width: 80%;
  font-family: "narrow";
  height: 50px;
  border-radius: 0 60px 60px 60px;
  border: none;
  background-color: #F5F5F5;
  margin-bottom: 20px;
}
.donation-main .donation ::-moz-placeholder {
  font-size: 1.1em;
  padding-left: 20px;
}
.donation-main .donation :-ms-input-placeholder {
  font-size: 1.1em;
  padding-left: 20px;
}
.donation-main .donation ::placeholder {
  font-size: 1.1em;
  padding-left: 20px;
}
.donation-main .donation .btn button {
  border-radius: 0 60px 60px 60px;
  border: none;
  background: #000;
  color: #fff;
  width: 100px;
  height: 40px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.donation-main .donation .rebtn {
  margin-bottom: 10px;
}
.donation-main .donation form input {
  border-radius: 0 60px 60px 60px;
  height: 40px;
  border: none;
  background-color: #F5F5F5;
}
.donation-main .donation form #last {
  width: 40%;
}
.donation-main .donation form #first {
  width: 40%;
}
.donation-main .donation form #email {
  width: 80%;
  margin-top: 30px;
}
.donation-main .donation form button {
  border-radius: 0 60px 60px 60px;
  border: none;
  background: #F59727;
  color: #fff;
  width: 200px;
  height: 40px;
  margin: 40px 0 30px 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.donation-main .donation form button img {
  width: 25px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .donation-main {
    display: flex;
    padding-bottom: 50px;
  }
  .donation-main .image {
    width: 50%;
  }
  .donation-main .image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .donation-main .btn button {
    margin-right: 20px;
  }

  .donation {
    width: 50% !important;
  }
}
a {
  text-decoration: none !important;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: #F59727;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:nth-last-child(3) {
  color: blue;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 250px;
  height: auto !important;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ffffff;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  box-shadow: 3px 8px 25px #000;
  border-radius: 0 60px;
}

#menu li {
  padding: 10px 0;
  font-size: 25px;
  font-family: "narrow";
}

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */